main{
    z-index: 10;
    width: calc(100% - 74px);
    position: absolute;
    left: 74px;
    top: 200px;
    transition: margin-left 0.5s ease, width 0.5s ease;
}

main.sideBar{
    transition: margin-left 0.5s ease, width 0.5s ease;
    width: calc(100% - 154px);
    margin-left: calc(154px - 64px);
}

/* search styles */

#movieSearch{

    background-color: #17161b;
    color: aliceblue;
    border: 1px solid #242328;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    outline: none;
}

#searchBut{
    position: absolute;
    right: 10px;
    color: aliceblue;
}


#search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-container{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;

}










/* Background styles */
#input-background {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    height: 700px;
    z-index: -1;
    overflow: hidden;
}

#bg_img {
    height: 100%;
    z-index: 1;
}

#overlay {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 35%, /* Adjust the stop to control shadow distribution */
        rgb(0, 0, 0) 95%
    );
}
