/* Base styles for the side menu */
#sideMenu {
    position: fixed;
    z-index: 2;
    top: 72px;
    left: 10px;
    width: 30px;
    height: fit-content;
    color: aliceblue;
    background: #17161b;
    border: 1px solid #242328;
    border-radius: 30px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    padding:10px 16px ;

}


/* Active styles for the side menu */
#sideMenu.active {
    width: 120px;
    .menuIconsText{
        visibility: visible;
        margin-left: 40px;
        opacity: 1;
        transition: margin-left 0.5s ease, opacity 0.5s ease; /* Add a smooth transition for opacity */
    }
    .menu-line{
        width: calc(100% - 32px);
    }
}

.menu-line {
    transition: width 0.7s ease;
    display: block;
    background-color: #6a6a6a; /* Adjust color as needed */
    height: 1px;
    border-radius: 2px;
}

#top-line-menu{
    height: 1px;
    position: absolute;
    width: 30px;
    top: 10px;
}

#bottom-line-menu{
    height: 1px;
    position: absolute;
    margin-top: 20px;
    width: 30px;
    bottom: 10px;
}




.menuIcons {
    width: 30px;
    display: flex;
    cursor: pointer;

    justify-content: center;
}
.fa-user{
    font-size: 18.29px;
}
.fa-tv{
    font-size: 13px;
}

.menuIconsText {
    position: absolute;
    visibility: hidden;
    font-size: 1rem;
    margin-left: 15px; /* Adjust spacing between icon and text */
    opacity: 0;
    transition: margin-left 0.5s ease, opacity 0.3s ease, visibility 0.5s ease; /* Add a smooth transition for opacity */
}

.menuIconsContainer{
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.menuIconsContainer:hover{
    background-color: #545454;

}



@media only screen and (max-width: 600px) {
   /* Active styles for the side menu */
#sideMenu.active {
    .menuIconsText{
        visibility: visible;
        margin-left: 40px;
        opacity: 1;
        transition: margin-left 0.5s ease, opacity 0.5s ease; /* Add a smooth transition for opacity */
    }
    .menu-line{
        width: calc(100% - 32px);
    }
}
}