main{
    z-index: 10;
    width: calc(100% - 74px);
    position: absolute;
    left: 74px;
    top: 200px;
    transition: margin-left 0.5s ease, width 0.5s ease;
}

main.sideBar{
    transition: margin-left 0.5s ease, width 0.5s ease;
    width: calc(100% - 154px);
    margin-left: calc(154px - 64px);
}

/* search styles */

#movieSearch{
    background-color: #17161b;
    color: aliceblue;
    border: 1px solid #242328;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    outline: none;
}

#searchBut{
    position: absolute;
    right: 10px;
    color: aliceblue;
}


#search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-container{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;

}




/* Background styles */
#input-background{
    position: relative;
}

#bg_img {
    z-index: -1;
}

#overlay {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;
    background: linear-gradient(
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 35%, /* Adjust the stop to control shadow distribution */
        rgb(0, 0, 0) 95%
    );
}

@media only screen and (max-width: 1300px) {
    #bg_img{
        width: calc(1300px );
        height: calc(1300px * 1 / 2);
    }
}


@media only screen and (max-width: 1100px) {
    #bg_img{
        width: calc(1100px);
        height: calc(1100px * 1 / 2);
    }


}

@media only screen and (max-width: 900px) {
    #bg_img{
        width: calc(900px);
        height: calc(900px * 1 / 2 + 100px);
    }

}

@media only screen and (max-width: 700px) {
    #bg_img{
        width: calc(700px);
        height: calc(700px * 1 / 2 + 100px);
    }

}

@media only screen and (max-width: 500px) {
    #bg_img{
        width: calc(700px);
        height: calc(500px * 1 / 2 + 100px);
    }

}



@media only screen and (max-width: 324px) {
    #movieSearch{
        max-width: 150px;
        padding: 20px;
    }
}