/* Base styles for the side menu */
#sideMenu {
    position: fixed;
    z-index: 2;
    top: 72px;
    left: 10px;
    width: 30px;
    height: calc(100vh - 62px - 40px);
    color: aliceblue;
    background: #17161b;
    border: 1px solid #242328;
    border-radius: 30px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    padding:10px 16px ;

}


/* Active styles for the side menu */
#sideMenu.active {
    width: 15%;
    .menuIconsText{
        visibility: visible;
        margin-left: 40px;
        opacity: 1;
        transition: margin-left 0.5s ease, opacity 0.5s ease; /* Add a smooth transition for opacity */
    }
    .menu-line{
        width: calc(100% - 32px);
    }
}

.menu-line {
    transition: width 0.7s ease;
    display: block;
    background-color: #6a6a6a; /* Adjust color as needed */
    height: 1px;
    border-radius: 2px;
}

#top-line-menu{
    height: 1px;
    position: absolute;
    width: 30px;
    top: 10px;
}

#bottom-line-menu{
    height: 1px;
    position: absolute;
    width: 30px;
    bottom: 10px;
}




.menuIcons {
    position: absolute;
    margin-left: 5.5px;
    left: 0;
    display: flex;
    cursor: pointer;
    transition: filter 0.3s ease; /* Add smooth transitions */
    justify-content: center;
    font-size: 19px;
    
}

.menuIconsHoverEffect:hover {
    border-radius: 10px;
    background-color:#000000;

}

.menuIconsText {
    visibility: hidden;
    font-size: 1rem;
    margin-left: 0px; /* Adjust spacing between icon and text */
    opacity: 0;
    transition: margin-left 0.5s ease, opacity 0.3s ease, visibility 0.5s ease; /* Add a smooth transition for opacity */
}


.menuIconsHoverEffect{
    margin-top: 20px;
    height: 1.2rem;
    position: relative;
    padding: 5.5px;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Truncates text with an ellipsis (...) */
}

.menuIconsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}