/* Base styles for the side menu */
#sideMenu {
    position: fixed;
    z-index: 2;
    top: 72px;
    left: 10px;
    width: 30px;
    height: calc(100vh - 62px - 40px);
    color: aliceblue;
    background: #17161b;
    border: 1px solid #242328;
    border-radius: 30px;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease;

    display: flex;
    flex-direction: column;
    padding:10px 16px ;

}


/* Active styles for the side menu */
#sideMenu.active {
    width: 15%;
}




.menuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 1;
    transition: width 100s ease;
}

.menuBar.active{
    transition: width 0.5s ease;
    width: 100%;
}

.menuBar span {
    display: block;
    background-color: #ffffff; /* Adjust color as needed */
    height: 3px;
    width: 30px;
    margin: 4px 0; /* Adjust spacing between lines as needed */
    border-radius: 2px;
    transition: all 0.3s ease; /* Add smooth color transition */
}




/* middle menubar line */
.menuBar #middle-line-menubtn {
    opacity: 1;
    transition: transform 0.5s ease,width 0.5s ease;
    transition: background-color 0.5s ease;
}

.menuBar.active #middle-line-menubtn {
    transition:width 0.5s ease;
    background-color: #494949;
    opacity: 0.4;
    width: 100%;
}
.menuBar:hover #middle-line-menubtn {
    background-color: #a7a7a7;
}





.sideMenuLine{
    background-color: #17161b;
    width: 100% + 32px;
    height: 3px;
}


.MenuIcons {
    cursor: pointer;
    transition: filter 0.3s ease; /* Add smooth transitions */
    height: 30px;
    width: 60px;
    padding-top: 20px;
}

.MenuIcons:hover {
    filter: invert(70%);

}