

main{
    display:flex;
    z-index: 999;
    width: auto;
}

main.sideBar{
    transition: margin-left 0.5s ease;
    margin-left: calc(20% - 11px);
}

main{
    transition: margin-left 0.5s ease;
    margin-left: 0px;

}

/* Search bar styles */
#search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-container {
    margin-top: 200px;
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
}

#movieSearch {
    flex: 1;
    background-color: rgb(0, 0, 0);
    border: 2px solid #242328;
    border-radius: 10px;
    padding: 20px;
    outline: none;
    max-width: 500px;
    width: 300px;
    color: white;
    transition: box-shadow 0.5s ease;
}

#movieSearch:hover {
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.25);
}


#searchBut {
    position: absolute;
    right: 13px; /* Adjust the right position to fit your design */
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    width: 30px; /* Adjust the width based on your design */
    height: 30px; /* Adjust the height based on your design */
    filter: invert(50%);
    transition: filter 0.3s ease;
}


#searchBut:hover {
    filter: invert(0%);
}

/* Background styles */
#input-background {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    height: 700px;
    z-index: -1;
    overflow: hidden;
}

#bg_img {
    height: 100%;
    z-index: 1;
}

#overlay {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 35%, /* Adjust the stop to control shadow distribution */
        rgb(0, 0, 0) 95%
    );
}
